# Tuple

## [Tuple](../../Teoria/Typy%20danych/Tuple.md)

## Zadania

In [3]:
# Zadanie

tuple_fruit = ('apple', 'banana')
tuple_fruit2 = ('cherry', 'pineapple')

concat_tuple = tuple_fruit + tuple_fruit2
print(concat_tuple)

# zagnieżdżony tuple

nested_tuple = ((tuple_fruit), (tuple_fruit2))
print(f"{nested_tuple}")

('apple', 'banana', 'cherry', 'pineapple')
(('apple', 'banana'), ('cherry', 'pineapple'))

In [5]:
# zadanie

tuple1 = (("Kasia", 23), ("Ania", 21))

# Wstaw ("Tomek", 24) w środek

res_tuple = (tuple1[0], ("Tomek", 24), tuple1[1])
print(f"{res_tuple}")

(('Kasia', 23), ('Tomek', 24), ('Ania', 21))

In [6]:
# zadamie

extended_code = ("UP", "DOWN", "DOWN", "LEFT", "DOWN")

# Podaj liczbę wystąpień DOWN

res = extended_code.count("DOWN")
print(res)

3

In [9]:
# Zadanie

tuple_person = ('Kasia', 'Ania', 'Tomek')

# Posortuj

res = tuple(sorted(tuple_person))
print(res)

('Ania', 'Kasia', 'Tomek')

In [11]:
tuple1 = (("Kasia", 23), ("Ania", 21), ("Tomek", 24), ("Marian", 30))

# posortuj po wieku

sorted_by_age = sorted(tuple1, key=lambda x: x[1])
print(sorted_by_age)

sorted_by_age_reverse = sorted(tuple1, key=lambda x: x[1], reverse=True)
print(sorted_by_age_reverse)

[('Ania', 21), ('Kasia', 23), ('Tomek', 24), ('Marian', 30)]
[('Marian', 30), ('Tomek', 24), ('Kasia', 23), ('Ania', 21)]

In [14]:
stocks = [
    ('EA Games', ('EA', 250)),
    ('Ubisoft', ('UBI', 290)),
    ('Konami', ('KNG', 230)),
]

# Wytnij EA

print(stocks[0][1][0])

EA